### Preprocessing on Temperature data

#### Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

#### Import datasets of temperature

In [2]:
temp_df = pd.read_csv('temperature_data.csv', index_col=0)

#### Understanding the data

In [3]:
temp_df.shape

(117, 13)

In [4]:
temp_df.isnull().sum()

YEAR    0
JAN     0
FEB     0
MAR     0
APR     0
MAY     0
JUN     0
JUL     0
AUG     0
SEP     0
OCT     0
NOV     0
DEC     0
dtype: int64

#### No null values

In [5]:
temp_df.head()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,1901,17.99,19.43,23.49,26.41,28.28,28.60,27.49,26.98,26.26,25.08,21.73,18.95
1,1902,19.00,20.39,24.10,26.54,28.68,28.44,27.29,27.05,25.95,24.37,21.33,18.78
2,1903,18.32,19.79,22.46,26.03,27.93,28.41,28.04,26.63,26.34,24.57,20.96,18.29
3,1904,17.77,19.39,22.95,26.73,27.83,27.85,26.84,26.73,25.84,24.36,21.07,18.84
4,1905,17.40,17.79,21.78,24.84,28.32,28.69,27.67,27.47,26.29,26.16,22.07,18.71

#### Renaming of the features based on the features of the CYP dataset

In [6]:
#renaming the columns
temp_df.rename(columns = {'YEAR':'Crop_Year'},inplace = True)

In [7]:
temp_df.head()

,Crop_Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,1901,17.99,19.43,23.49,26.41,28.28,28.60,27.49,26.98,26.26,25.08,21.73,18.95
1,1902,19.00,20.39,24.10,26.54,28.68,28.44,27.29,27.05,25.95,24.37,21.33,18.78
2,1903,18.32,19.79,22.46,26.03,27.93,28.41,28.04,26.63,26.34,24.57,20.96,18.29
3,1904,17.77,19.39,22.95,26.73,27.83,27.85,26.84,26.73,25.84,24.36,21.07,18.84
4,1905,17.40,17.79,21.78,24.84,28.32,28.69,27.67,27.47,26.29,26.16,22.07,18.71

####  Computing the mean temperature for kharif, rabi, whole year and summer

    The kharif cropping season is from July â€“October 
    Rabi cropping season is from October-March (winter). 
    The crops grown between March and June are summer crops

In [8]:
kharif = temp_df.iloc[ : , 7:11]
rabi = temp_df.iloc[ : ,[11, 12, 1, 2, 3]]
whole_year = temp_df.iloc[:,1:13 ]
summer = temp_df.iloc[:, 4:7]
temp_df['kharif'] = kharif.mean(axis = 1)
temp_df['rabi'] = rabi.mean(axis = 1)
temp_df['whole_year'] = whole_year.mean(axis = 1)
temp_df['summer'] = summer.mean(axis = 1)
#kharif, rabi, whole_year, summer
temp_df.head()

,Crop_Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,kharif,rabi,whole_year,summer
0,1901,17.99,19.43,23.49,26.41,28.28,28.60,27.49,26.98,26.26,25.08,21.73,18.95,26.4525,20.318,24.224167,27.763333
1,1902,19.00,20.39,24.10,26.54,28.68,28.44,27.29,27.05,25.95,24.37,21.33,18.78,26.1650,20.720,24.326667,27.886667
2,1903,18.32,19.79,22.46,26.03,27.93,28.41,28.04,26.63,26.34,24.57,20.96,18.29,26.3950,19.964,23.980833,27.456667
3,1904,17.77,19.39,22.95,26.73,27.83,27.85,26.84,26.73,25.84,24.36,21.07,18.84,25.9425,20.004,23.850000,27.470000
4,1905,17.40,17.79,21.78,24.84,28.32,28.69,27.67,27.47,26.29,26.16,22.07,18.71,26.8975,19.550,23.932500,27.283333

#### Extracting required feature from the dataframe

In [9]:
temp_df1 = pd.melt(temp_df.iloc[:,[0,13,14,15,16]], id_vars=["Crop_Year"], var_name="Season", value_name="Temperature(M)")

In [10]:
temp_df1.head()

   Crop_Year  Season  Temperature(M)
0       1901  kharif         26.4525
1       1902  kharif         26.1650
2       1903  kharif         26.3950
3       1904  kharif         25.9425
4       1905  kharif         26.8975

#### Converting the final dataframe into a csv file

In [11]:
temp_df1.to_csv('Temperature.csv')

In [12]:
temp_df1 = pd.read_csv('Temperature.csv', index_col=0)

In [13]:
temp_df1.head()

   Crop_Year  Season  Temperature(M)
0       1901  kharif         26.4525
1       1902  kharif         26.1650
2       1903  kharif         26.3950
3       1904  kharif         25.9425
4       1905  kharif         26.8975